<% if current_user %>
<% if current_user.github_username %>
<%else%>
	<div class="hero-unit container">

	<h1 class="span12" style="text-align: center;font-size: 80px">Devernote</h1>
	</br></br></br></br></br></br>
	<%= link_to "Now Sign in with Github", user_omniauth_authorize_path(:github) , {:class=>"btn btn btn-large offset3", :style=>"color:#000000 ; font-size: 50px; height:60px;padding-top:40px"} %>
	</div>
<%end%>
<%end%>